      - id: lint:ruff
        name: lint:ruff
        entry: mise run lint:ruff --
        language: system
      - id: lint:ruff-format
        name: lint:ruff-format
        entry: mise run lint:ruff-format --
        language: system
