terraform {
  required_version = ">= {{ terraform_version }}"

  # Declare providers here, e.g.:
  # required_providers {
  #   aws = {
  #     source  = "hashicorp/aws"
  #     version = "~> 5.0"
  #   }
  # }
}
