[tools]
{% include "templates/_lang/python/_mise_tools.part" -%}
{% include "templates/_base/_mise_tools.part" -%}
{% include "templates/_base/_mise_agent_tasks.part" %}
{% include "templates/_base/_mise_tasks.part" %}

{% include "templates/_lang/python/_mise_tasks.part" %}