name: CI
on:
  pull_request:
{% if loop_enabled %}    types: [opened, synchronize, reopened, ready_for_review]
{% endif %}  push:
    branches: [main, master]

permissions:
  contents: read

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true
