[tools]
pre-commit = "4.6.0"
"aqua:lycheeverse/lychee" = "0.24.2"
{% include "templates/_base/_mise_agent_tasks.part" %}
{% set check_commands %}lychee --no-progress --extensions md .
{% endset -%}
{% include "templates/_base/_mise_check_task.part" %}

[tasks.lint]
run = "pre-commit run --all-files"

[tasks.markdownlint]
run = "markdownlint ."

[tasks.bootstrap]
run = "pre-commit install --install-hooks"

[hooks]
postinstall = "pre-commit install --install-hooks"
